* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #6d0b0b;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffffff;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #666;
}

main section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main section h2 {
    color: #333;
    margin-bottom: 10px;
}

main section p {
    font-size: 1em;
    color: #555;
}

footer {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10
}

footer h6 {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10
}